<%# <h1>********* Welcome to the longest word-game! *********</h1>
<p><%= @letters.join(" , ") %>
<%# <form action="/score" method="post" data-turbo="false">
  <input type="text" name="word" placeholder="Whats the longest word?">
  <%= hidden_field_tag :letters, @letters%>
  <%# <input type="submit" value="play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%# </form> %>

 <div class="container mt-5">
    <h1 class="text-center">********* Welcome to the longest word-game! *********</h1>
    <div class="d-flex flex-wrap justify-content-center my-4">
      <% @letters.each do |letter| %>
        <div class="letter-box"><%= letter %></div>
      <% end %>
    </div>
    <form action="/score" method="post" data-turbo="false" class="text-center">
      <div class="form-group">
        <input type="text" name="word" class="form-control" placeholder="What's the longest word?">
      </div>
      <%= hidden_field_tag :letters, @letters %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button type="submit" class="btn btn-primary mt-3">Play</button>
    </form>
  </div>
